<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<!-- Remove items (Beta, rearrange, share, delete) -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>REMOVE_ITEMS_SECTION</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeBeta</string>
				<key>label</key>
				<string>REMOVE_BETA_OPTION</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeRearrange</string>
				<key>label</key>
				<string>REMOVE_REARRANGE_OPTION</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeShare</string>
				<key>label</key>
				<string>REMOVE_SHARE_OPTION</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeDelete</string>
				<key>label</key>
				<string>REMOVE_DELETE_OPTION</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<!-- Cell height -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>CELL_HEIGHT</string>
				<key>footerText</key>
				<string>DEFAULT_CELL_HEIGHT</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>cellHeight</string>
				<key>default</key>
				<real>43.5</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>100</real>
				<key>segmentCount</key>
				<integer>200</integer>
				<key>showValue</key>
				<true />
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<!-- Remove widgets (iOS 13 only) -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>REMOVE_WIDGETS_SECTION</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeWidgets</string>
				<key>label</key>
				<string>REMOVE_WIDGETS</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<!-- Reverse order -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>REVERSE_ORDER_SECTION</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>reverseOrder</string>
				<key>label</key>
				<string>REVERSE_ORDER</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<!-- Separators (bold or not) -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>REMOVE_SEPS_SECTION</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeThinSeparators</string>
				<key>label</key>
				<string>REMOVE_THIN_SEPARATORS</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>removeBoldSeparators</string>
				<key>label</key>
				<string>REMOVE_BOLD_SEPARATORS</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<!-- Corner radius -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>CORNER_RADIUS_SECTION</string>
				<key>footerText</key>
				<string>DEFAULT_CORNER_RADIUS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>cellClass</key>
				<string>SPDLabeledSliderCell</string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>cornerRadiusForMenu</string>
				<key>default</key>
				<integer>13</integer>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>200</integer>
				<key>segmentCount</key>
				<integer>200</integer>
				<key>showValue</key>
				<true />
				<key>label</key>
				<string>CORNER_RADIUS_MENU</string>
				<key>strings</key>
				<string>CustomizationSub</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>cellClass</key>
				<string>SPDLabeledSliderCell</string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>cornerRadiusForItems</string>
				<key>default</key>
				<integer>0</integer>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>200</integer>
				<key>segmentCount</key>
				<integer>200</integer>
				<key>showValue</key>
				<true />
				<key>label</key>
				<string>CORNER_RADIUS_ITEMS</string>
				<key>strings</key>
				<string>CustomizationSub</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<!-- Opening speed -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>ANIMATION_SPEED</string>
			</dict>
			<!-- Force status bar showing (iOS 13/14 -> yes?) -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>STATUS_BAR_SECTION</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true />
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>key</key>
				<string>showStatusBar</string>
				<key>label</key>
				<string>SHOW_STATUS_BAR</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
				<key>id</key>
				<string>statusBar</string>
			</dict>
			<!-- Labels customization (battery %, IP...) -->
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>TEXT_CUSTOMIZATION_SECTION</string>
				<key>footerText</key>
				<string>BATTERY_CELL_PLACEHOLDERS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>BATTERY_CELL</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customBatteryText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>BATTERY_CELL_SUBTITLE</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customBatterySubText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>CELLULAR_CELL_PLACEHOLDERS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>CELLULAR_CELL</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customCellularText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>CELLULAR_CELL_SUBTITLE</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customCellularSubText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>WIFI_CELL_PLACEHOLDERS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>WIFI_CELL</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customWifiText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>WIFI_CELL_SUBTITLE</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customWifiSubText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>BLUETOOTH_CELL_PLACEHOLDERS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>BLUETOOTH_CELL</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customBluetoothText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>dev.redentic.sepiida</string>
				<key>label</key>
				<string>BLUETOOTH_CELL_SUBTITLE</string>
				<key>placeholder</key>
				<string>CUSTOM_TEXT_PLACEHOLDER</string>
				<key>noAutoCorrect</key>
				<true />
				<key>key</key>
				<string>customBluetoothSubText</string>
				<key>PostNotification</key>
				<string>dev.redentic.sepiida/ReloadPrefs</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>FOOTER_TEXT</string>
				<key>isStaticText</key>
				<true />
				<key>footerAlignment</key>
				<real>1</real>
			</dict>
		</array>
	</dict>
</plist>